.small-letters {
    font-family: 'Courier Prime', monospace;
    font-size: 100px;
    color: #03396C;
  }
  
  .large-letters {
    font-family: 'Courier Prime', monospace;
    font-size: 150px;
    color: #03396C;
  }