.main-top {
  background-color: #adcbe3;
  background: rgba(173, 203, 227, 0.7);
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* div {
    border: 1px solid black;
} */

.main {
  background-color: #adcbe3;
  background: rgba(173, 203, 227, 0.7);
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-top-inner {
  color: #fff;
  width: 95%;
  height: 95%;
}

.textfield-wrapper {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pageDiv {
  width: 95%;
}

.tableFullWidth {
  width: 95%;
}

.white {
  color: #fff;
}

.blue {
  color: #03396c;
}

.center {
  text-align: center;
}

.shadow {
  text-shadow: 5px 5px 5px #03396c;
}

h1 {
  font-family: "Courier Prime", monospace;
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-family: "Courier Prime", monospace;
  font-size: 21px;
  font-weight: bold;
}

.small-letters {
  font-family: "Courier Prime", monospace;
  font-size: 75px;
  color: #fff;
}

.large-letters {
  font-family: "Courier Prime", monospace;
  font-size: 100px;
  color: #fff;
}

.data-value-input {
  width: 350px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loading {
  height: 24px;
  animation: spin 2s infinite linear;
}
