body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #03396C;
  background: no-repeat url("images/header.png");
  background-position: 0px 100px;
  background-size: 100vw;
}

header {
  text-align: center;
}

/* div {
  border: 1px solid black;
} */

.map {
  /* height: 200px;
  width: 100%;
  border: 2px solid #03396C; */
  border-radius: 15px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#infowindow-content {
  display: none;
}

.small-letters {
  font-family: 'Courier Prime', monospace;
  font-size: 100px;
  color: #03396C;
}

.large-letters {
  font-family: 'Courier Prime', monospace;
  font-size: 150px;
  color: #03396C;
}

h1 {
  font-family: 'Courier Prime', monospace;
  font-size: 40px;
  font-weight: bold;
  color: #03396C;
}

h2 {
  font-family: 'Courier Prime', monospace;
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.body-container {
  margin-bottom: 60px;
}

.main {
  background-color: #ADCBE3;
  background: rgba(173, 203, 227, 0.7);
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-inner {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.5);
  width: 95%;
  height: 95%;
  border-radius: 15px;
  /* padding: 20px; */
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pageDiv {
  width: 95%;
}

.tableFullWidth {
  width: 95%;
}

.first-row {
  margin: 20px 10px 20px 10px;
}

.form-row {
  margin: 20px 10px 20px 10px;
}

.main-events {
  background-color: #ADCBE3;
  background: rgba(173, 203, 227, 0.7);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-events-white {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.data-set {
  width: 350px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.data-set-io {
  width: 400px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  /* margin-left: auto;
  margin-right: auto; */
}

.data-key {
  text-align: right;
  font-weight: bold;
  padding: 0px;
}

.data-value-input {
  width: 350px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textarea {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.data-value-input-hl {
  width: 350px;
  height: 30px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-hide {
  display: none;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(16px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn {
  background-color: #4aaaa5;
  color: #fff;
  border-radius: 15px;
  margin: 10px 20px 10px 20px;
}

.btn:hover {
  background-color: #214d4a;
  color: #fff;
  box-shadow: 0px 0px 20px 1px #4aaaa5;
}

.btn:focus {
  background-color: #c50000;
  color: #fff;
  box-shadow: 0px 0px 20px 1px #4aaaa5;
}

.btn:active {
  background-color: #c50000;
  color: #fff;
}