.banner{
    height: 70px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 32, 32);
    border-radius: 5px;
    width: 50%;
    margin: auto;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.2);
}
.text{
    color: white;
    font-size: 25px;
}
.purple{
color: orange;
}