body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #03396C;
  background: no-repeat url("../images/header.png");
  background-position: 0px 100px;
  background-size: 100vw;
}

header {
  text-align: center;
}

/* div {
  border: 1px solid black;
} */

.map {
  /* height: 200px;
    width: 100%;
    border: 2px solid #03396C; */
  border-radius: 15px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  font-family: 'Courier Prime', monospace;
  font-size: 36px;
  font-weight: bold;
  color: #03396C;
}

h2 {
  font-family: 'Courier Prime', monospace;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.main {
  background-color: #ADCBE3;
  background: rgba(173, 203, 227, 0.7);
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-inner {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.5);
  width: 95%;
  height: 95%;
  border-radius: 15px;
  /* padding: 20px; */
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pageDiv {
  width: 95%;
}

.data-key {
  text-align: right;
  font-weight: bold;
  padding: 0px;
}

.data-value-input {
  width: 350px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}